:root {
  // --main-font-jp: "游明朝", "游明朝体", "Yu Mincho", YuMincho, serif;
  --main-font-jp: inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, sans-serif;
  --main-font-latin: "Lora", serif;
}

// breakpoint
$breakpoint-pc: 1400px; // PC
$breakpoint-tablet: 1000px; // タブレット
$breakpoint-sp-horizontal: 600px; // SP横
$breakpoint-sp-vertical: 440px; // SP縦
$medium: 768px;

html {
  font-family: var(--main-font-jp);
  -webkit-font-smoothing: antialiased;
  line-height: 2;
  color: #282828;
}
.hero > h1 {
  font-family: playfair display, serif;
}
h1 {
  font-weight: normal;
}
h2 {
  font-weight: normal;
  font-size: 1.5rem;
}
h3 {
  font-weight: normal;
}
h4 {
  font-weight: normal;
}
h5 {
  font-weight: normal;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 1.125rem;
  margin: 1rem 0;
  line-height: 1.5;
  @media screen and (max-width: $medium) {
    font-size: 0.86rem;
    line-height: 1.6rem;
  }
}
footer {
  > div {
    > small {
      font-family: var(--main-font-latin);
      color: #fff;
      font-size: 1rem;
    }
  }
}
small {
  font-size: inherit;
}
a.active {
  color: #b8a273;
}
li.active {
  a {
    color: white;
    background-color: #b8a273;
  }
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 150ms linear;

  // &:focus,
  // &:hover {
  //   opacity: 1;

  .linkInner {
    //     transform: translateY(0);
    border-color: rgba(255, 255, 255, 0.625);
  }
  // }
}

.linkInner {
  padding: 0.375em 1em;
  border: 2px solid rgba(255, 255, 255, 0);
  //   transition: transform 300ms cubic-bezier(0, 0.4, 0.6, 1), border-color 1s linear;
  //   transform: translateY(25%);
}

.scrolldown {
  position: absolute;
  left: 50%;
  z-index: 99;
  width: 50px;
  height: 90px;
  color: white;
  bottom: 2rem;
  font-size: 0.8rem;
  transform: translateX(-50%);
  opacity: 0.8;
  &::before {
    content: "";
    width: 0.15rem;
    height: 2rem;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    opacity: 1;
    -webkit-animation: drop 2s linear infinite;
    animation: drop 2s linear infinite;
    @media screen and (max-width: $medium) {
      height: 2rem;
      top: 5rem;
    }
  }
  @media screen and (max-width: $medium) {
    bottom: 1rem;
  }
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  45% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(40%);
  }
  to {
    transform: translateY(100%);
  }
}
@-webkit-keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  45% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(40%);
  }
  to {
    transform: translateY(100%);
  }
}
