---
// Component Imports
import Nav from "../components/Nav.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Bi-Su Official Global Website | About Bird Nest"
      description="Bi-Su Official Global Website―company,brands,sustainability,birdnest"
    />
  </head>
  <body>
    <div class="flex flex-col h-screen justify-between">
      <main>
        <Nav about="active" DIR=".." />
        <section class="relative h-hero lg:h-[50rem] overflow-hidden hero">
          <h1
            class="text-center absolute left-1/2 w-full lg:w-auto top-1/2 lg:left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-black text-[1.5rem] lg:text-[2rem]"
          >
            White Gem for Humanity
          </h1>
          <div
            class="bg h-full lg:h-[50rem]"
            style="background-image:url('../assets/images/6.jpg');position:absolute;background-size:cover;background-position:center;z-index:-1;width:100%;background-repeat:no-repeat;"
          >
          </div>
        </section>

        <section
          class="p-5 flex flex-col lg:flex-row lg:p-20 justify-evenly items-center bg-yellowish gs_reveal_fromRight"
        >
          <div class="w-full lg:w-2/5">
            <img src="../assets/images/7.jpg" alt="" class="img mb-2" />
          </div>
          <div class="w-full lg:w-2/5 ">
            <h2 class="block lg:text-center gs_reveal">
              From Jungles & Nature
            </h2>
            <article
              class="leading-none lg:leading-loose lg:text-justify lg:border-b border-golden gs_reveal"
            >
              <p>
                At BI-SU, all our products are made from naturally-occurring
                swiftlet nests from caves deep in the tropical jungles of East
                Malaysia, noted as having some of the highest quality bird’s
                nests in the world.
              </p>
              <p>
                Legend has it that Admiral Zheng He survived on bird’s nest when
                his ship was marooned on an island in the Malay Archipelago.
                Surprised by the nests’ miraculous energy-restoring effects,
                Zheng He would return home with this wondrous discovery and gift
                it to the Emperor.
              </p>
              <p>
                Since then, the natural bounty of the nests has been prized and
                valued for their miraculous rejuvenating qualities for over four
                centuries. And like Zheng He, we pick the nests ourselves, while
                taking the utmost care to preserve and honor the natural
                environment that it comes from, in order to deliver the best of
                its treasures to you.
              </p>
            </article>
          </div>
        </section>

        <section
          class="p-5 flex flex-col-reverse lg:flex-row lg:p-20 justify-evenly items-center gs_reveal_fromLeft"
        >
          <div class="w-full lg:w-2/5">
            <h2 class="block lg:text-center gs_reveal">
              Superfood for Beauty & Health
            </h2>
            <article
              class="leading-none lg:leading-loose lg:text-justify lg:border-b border-golden gs_reveal"
            >
              <p>
                Although Chinese culture has long believed in the power of
                edible bird’s nests to preserve skin and heal the body, this
                belief has scientific merit. Research done by scientists in Hong
                Kong in 1987 found the nests to be rich in Epidermal Growth
                Factors (EGFs), a glycoprotein that contributes to skin
                preservation.
              </p>
              <p>
                Japanese, Malaysian and US researchers also found that nests
                contain sialic acid, crucial in brain and nervous system
                formation as well as antiviral properties, capable of helping
                the body resist influenza. Modern science seems to agree that
                that bird’s nests can help keep skin youthful and smooth, and
                the body healthy and fortified against illness.
              </p>
            </article>
          </div>
          <div class="w-full lg:w-2/5">
            <img src="../assets/images/8.jpg" alt="" class="img  mb-2" />
          </div>
        </section>

        <section
          class="p-5 flex flex-col lg:flex-row lg:p-20 justify-evenly items-center bg-yellowish gs_reveal_fromRight"
        >
          <div class="w-full lg:w-2/5">
            <img src="../assets/images/9.jpg" alt="" class="img mb-2" />
          </div>

          <div class="w-full lg:w-2/5 ">
            <h2 class="block lg:text-center gs_reveal">
              Perfect for All Women
            </h2>
            <article
              class="leading-none lg:leading-loose lg:text-justify lg:border-b border-golden pb-5 gs_reveal"
            >
              <p>
                For the women, bird’s nests are especially beneficial. Being
                rich in EGFs, bird’s nest is known to work well with the unique
                properties of female skin, keeping it smooth and bright. More
                crucially, it is an incredibly useful pre- and post-partum
                recovery supplement, allowing ready adsorption of healing
                nutrients into a new mother’s body.
              </p>
              <p>
                As such, in the past having birds nest was a privilege only
                accessible to the wealthy. But BI-SU aims to make the healing
                powers of bird’s nests widely available to all women worldwide.
              </p>
            </article>
          </div>
        </section>

        <section class="flex flex-col-reverse lg:flex-col">
          <div class="px-5 lg:w-10/12 lg:px-10 mx-auto">
            <h2 class="block lg:text-center mb-5 lg:mt-5 lg:mt-10 gs_reveal">
              Study of Science
            </h2>
            <article
              class="pb-5 leading-none lg:leading-loose lg:text-justify gs_reveal"
            >
              <p>
                However, further research continues and BI-SU has taken the
                initiative to establish the Swiftlet Nest Research Center, which
                aims to reveal this substance’s true potential. The nutritional
                make-up of bird’s nests is incredibly complex and there is so
                much more potential to discover.
              </p>
              <p>
                In light of this, we are also conducting joint research
                initiatives with universities and hospitals, in the hope that in
                addition to the fields of beauty and general wellness, we may
                share the wondrous benefits of birds’ nests with various other
                healthcare fields as well.
              </p>
            </article>
          </div>
          <div class="px-5 lg:px-0 mx-auto pt-5 lg:w-full">
            <img
              src="../assets/images/10.jpg"
              alt=""
              class="gs_reveal mb-2 lg:mb-0"
            />
          </div>
        </section>
      </main>
      <Footer />
    </div>
    <script src={Astro.resolve("../js/app.js")} type="text/javascript"></script>
  </body>
</html>
