---
// Component Imports
import Nav from "../components/Nav.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Bi-Su Official Global Website | Sustainability"
      description="Bi-Su Official Global Website―company,brands,sustainability,birdnest"
    />
  </head>

  <style lang="scss">
    .grid-1 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 5%;
      img:nth-child(1) {
        grid-area: 1 / 1 / 2 / 3;
        width: 50%;
        margin: auto;
      }
      img:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
      }
      img:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
      }
      width: 95%;
      margin: auto;
    }
  </style>

  <body>
    <div class="flex flex-col h-screen justify-between">
      <main>
        <Nav sustain="active" DIR=".." />
        <section class="relative h-hero lg:h-[50rem] overflow-hidden hero">
          <h1
            class="text-center absolute left-1/2 w-full top-1/2 lg:left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-[1.5rem] lg:text-[2rem]"
          >
            Live With Nature
          </h1>
          <div
            class="bg h-full lg:h-[50rem]"
            style="background-image:url('../assets/images/16.jpg');position:absolute;background-size:cover;background-position:center;z-index:-1;width:100%;background-repeat:no-repeat;"
          >
          </div>
        </section>

        <section>
          <h1 class="px-5 lg:px-20 lg:mt-12 py-10 block text-center text-2xl lg:text-4xl gs_reveal">3 Promises</h1>

          <div class="grid-1 grid lg:hidden">
            <img src="../assets/images/Image 40.png" class="" />
            <img src="../assets/images/Image 41.png" class="" />
            <img src="../assets/images/Image 42.png" class="" />
          </div>
          <div class=" lg:flex items-center justify-center hidden">
            <img src="../assets/images/Image 40.png" class="w-1/6 mx-10 gs_reveal" />
            <img src="../assets/images/Image 41.png" class="w-1/6 mx-10 gs_reveal" />
            <img src="../assets/images/Image 42.png" class="w-1/6 mx-10 gs_reveal" />
          </div>
          <div class="gs_reveal py-5">
            <p class="w-3/4 mx-auto my-5 leading-2 text-center">
              We promise to deliver only natural, genuine products that we have personally checked ourselves.
            </p>
            <p class="w-3/4 mx-auto my-5 leading-2 text-center">
              We shall contribute to the protection of the natural environment and its ecosystems.
            </p>
            <p class="w-3/4 mx-auto my-5 leading-2 text-center">
              We strive to discover the unknown possibilities in swiftlet's nest to help building a better world.
            </p>
          </div>
        </section>

        <section
          class="flex lg:flex-row flex-col-reverse p-5 lg:p-20 justify-evenly bg-yellowish items-center gs_reveal_fromLeft max-w-maxscr mx-auto"
        >
          <div class="lg:w-1/2">
            <h2 class="block lg:text-center gs_reveal">Sustainable Harvesting</h2>
            <article class="leading-none lg:leading-loose lg:text-justify gs_reveal">
              <p>
                Swiftlets will never use the same nest twice after raising their chicks. Therefore, the nest is a
                sustainable resource and with proper care, it’s harvesting does not jeopardize the birds themselves or
                their environment.
              </p>
              <p>
                Proper harvesting is mutually beneficial to both humans and swiftlets. Allowing the swiftlets to raise
                their young before harvesting their nests ensures the future of their species, and the future of bird’s
                nests as a resource.
              </p>
            </article>
          </div>

          <div class="lg:w-1/3">
            <img src="../assets/images/17.jpg" alt="" class="mb-5 gs_reveal" />
          </div>
        </section>

        <section class="p-5 ">
          <div class="lg:w-3/4 mx-auto">
            <h2 class="mt-12 lg:text-center block gs_reveal">Animal Friendly</h2>
            <article class=" gs_reveal leading-none lg:leading-loose lg:text-justify max-w-maxscr">
              <p>
                Therefore, BI-SU only harvests nests from caves controlled by the Malaysian government, where harvesting
                is only allowed for a certain period of time and only nests confirmed to have been left by swiftlet
                hatchlings are harvested.
              </p>
              <p>
                We received the certification and award from Malaysian Government to be approved that all BI-SU products
                materials are from legal harvested bird nest.
              </p>
            </article>
          </div>

          <div class="flex justify-center">
            <div class="mr-4 lg:w-1/6 lg:mx-8">
              <img src="../assets/images/Image 49.png" alt="" class="gs_reveal" />
              <small class="block text-[0.6rem] ml-3 lg:text-base leading-0 my-2">Certificate of Appreciation</small>
            </div>
            <div class="ml-4 lg:w-1/6 lg:mx-8">
              <img src="../assets/images/Image 48.png" alt="" class="gs_reveal" />
              <small class="block text-[0.6rem] ml-3 lg:text-base leading-0 my-2">Certificate of Authenticity</small>
            </div>
          </div>
        </section>

        <section class="bg-yellowish pt-12 mt-12 ">
          <div class="px-5 lg:px-0 lg:w-3/4 mx-auto max-w-maxscr lg:pb-22 ">
            <h2 class="block lg:text-center gs_reveal">Protecting the Environment</h2>
            <article class="gs_reveal leading-none lg:leading-loose lg:text-justify ">
              <p>
                As a rule, humankind must return what we take from the environment. Since BI-SU began, we have taken
                efforts to consistently donate a portion of our sales to protect Borneo’s wildlife. In recognition of
                this, we are honored to have received a letter of appreciation from the Malaysian government and a
                Certificate of Authenticity for our harvesting activities.
              </p>
              <p>
                Moving forward, we strive ever further to help protect the environment, holding donation drives for the
                preservation of Bornean forests every year. As we take, so to do we give back. This is our goal. This is
                our creed.
              </p>
            </article>
          </div>
          <div class="gs_reveal">
            <img
              src="../assets/images/Image 52.png"
              alt=""
              class="object-cover h-auto lg:h-[550px] w-full   object-top "
            />
          </div>
        </section>
      </main>
      <Footer />
    </div>
    <script src={Astro.resolve("../js/app.js")} type="text/javascript"></script>
  </body>
</html>
