---
const { title = "Bi-Su Global", description = "Bi-Su Global" } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="title" content={title} />
<meta name="keywords" content="Bi-Su Official Global Website―company,brands,sustainability,birdnest" />
<meta name="copyright" content="M-Style Japan" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
<script defer src={Astro.resolve("../js/mobile-menu.js")} type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")} />
<link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/override.scss")} />

<slot />
