---
const { about = "", brand = "", sustain = "", global = "", contact = "" } = Astro.props;
const URL = import.meta.env.PUBLIC_URL || ".";

const { DIR = "." } = Astro.props;
---

<!-- Navbar goes here -->
<nav class="bg-lighten shadow-lg z-20 top-0 h-12 md:h-20 w-full sticky py-2 block md:flex items-center">
  <div class="w-full max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-center">
      <div>
        <!-- Website Logo -->
        <a href="${DIR}" class="flex items-center px-2">
          <img class="block h-7 lg:h-12 w-auto mr-2" src="${DIR}/assets/images/logo.png" alt="Logo bi-su" />
        </a>
      </div>
      <!-- Primary Navbar items -->
      <div class="hidden md:flex items-center space-x-1">
        <a
          href="${DIR}/about-bird-nest"
          class="${about} my-4 px-2 text-black border-r border-black transition duration-300 hover:text-golden text-lg  leading-none px-3"
          >About Bird Nest</a
        >
        <a
          href="${DIR}/brand"
          class="${brand} my-4 px-2 text-black border-r border-black transition duration-300 hover:text-golden text-lg  leading-none px-3"
          >Brand</a
        >
        <a
          href="${DIR}/sustainability"
          class="${sustain} my-4 px-2 text-black border-r border-black transition duration-300 hover:text-golden text-lg  leading-none px-3"
          >Sustainability</a
        >
        <a
          href="${DIR}/global"
          class="${global} my-4 px-2 text-black border-r border-black transition duration-300 hover:text-golden text-lg  leading-none px-3"
          >Global</a
        >
        <a
          href="${DIR}/contact-us"
          class="${contact} my-4 px-2 text-black border-r transition duration-300 hover:text-golden text-lg leading-none pl-3"
          >Contact</a
        >
      </div>

      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center justify-center flex-col">
        <svg
          version="1.1"
          id="nav"
          class=" h-6 text-black hover:text-golden"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 871.116 595.281"
          xml:space="preserve"
        >
          <rect id="burger1" x="85.387" y="0" fill="#A5977D" width="871.116" height="30"></rect>
          <rect id="burger2" x="85.387" y="236.233" fill="#A5977D" width="871.116" height="30"></rect>
          <rect id="burger3" x="85.387" y="475.822" fill="#A5977D" width="871.116" height="30"></rect>
          <span class="text-dark-golden leading-none text-[.70rem] burgertxt ml-1">Menu</span>
        </svg>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <ul
    class="pt-8 mobile-menu bg-white w-full h-0 hidden overflow-hidden mt-1 px-10 backdrop-blur-md text-xl bg-opacity-75"
  >
    <li class="${about}">
      <a
        href="${DIR}/about-bird-nest"
        class="flex border-b border-black py-5 hover:bg-golden transition duration-300 justify-center"
        >About Bird Nest</a
      >
    </li>
    <li class="${brand}">
      <a
        href="${DIR}/brand"
        class="flex border-b border-black py-5 hover:bg-golden transition duration-300 justify-center">Brand</a
      >
    </li>
    <li class="${sustain}">
      <a
        href="${DIR}/sustainability"
        class="flex border-b border-black py-5 hover:bg-golden transition duration-300 justify-center">Sustainability</a
      >
    </li>
    <li class="${global}">
      <a
        href="${DIR}/global"
        class="flex border-b border-black py-5 hover:bg-golden transition duration-300 justify-center">Global</a
      >
    </li>
    <li class="${contact}">
      <a
        href="${DIR}/contact-us"
        class="flex border-b border-black py-5 hover:bg-golden transition duration-300 justify-center">Contact</a
      >
    </li>
  </ul>
</nav>
